@charset "utf-8";

body{width:100%;overflow-x:hidden;background-color:#1e1e1e}
#wrap{height:100%;overflow-x:hidden;background-color:#fff;}
.inner{position:relative;max-width:1200px;margin:0 auto;padding:50px 120px;}/* margin 360 */
.inner::after{display:block;clear:both;content:'';}

#header{position:absolute;z-index:999;}
#header .header-wrap{position:fixed;left:0;right:0;top:0;width:100%;background:#fff;min-width:1200px;height:80px;transition:all 0.3s;z-index:999}
#header .header-wrap::after{display:block;clear:both;content:'';}
#header .header-logo{position:absolute;left:12.5%;top:30px;z-index:2;}
#header .header-logo a{display:block;}
#header .header-logo a img{height:20px}
#header .header-title{display:none;position:absolute;left:12.5%;top:30px;z-index:2;}
#header .header-title a{display:block;height:20px;line-height:20px;transform:skew(-0.03deg);font-size:14px;font-weight:900;letter-spacing:0.1px;color:#1e1e1e;}
